# Python
venv/
__pycache__/
*.pyc
.env

# React Native
node_modules/
android/.gradle/
android/app/build/
ios/Pods/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log